@font-face {
  font-family: "Lemon Milk";
  src: url(/fonts/LemonMilk.otf);
}
@font-face {
  font-family: "Roman Serif";
  src: url(/fonts/romanserif.ttf);
}
body{
  background-color: #eeeeee
}
a{
  font-family: Tahoma
  font-size: 1.25em;
}
h1{
  font-family: "Lemon Milk";
  font-size: 3.75em;
}
h2{
  font-family: "Roman Serif";
  font-size: 2.25em;
  font-weight: 500;

}
.byline{
  font-size: 1.1em;
  font-family: "Roman Serif";
}
button a, button a:hover{
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}
table, table a, td{
  font-size: 1.15em;
  font-family: "Roman Serif";
}
th{
  font-family: Tahoma;
}
input, textarea{
  display: block;
}
pre{
  font-family: "Roman Serif";
  background: none;
  border: none;
  font-size: 1.75em;
  padding: 0;
  white-space: pre-line;
  word-break: normal;
  line-height: 1.5;
  margin-top: 10px;
}
input[type=date]{
  line-height: normal;
}
#thumbnail-image{
  width: 100%;
  max-width: 750px;
  left: 0;
  right: 0;
}
/* Mobile Menu */
.wrapper {
  margin-top: 90px;
}

.nav-side {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 250px;
  background-color: cornflowerblue;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  margin-right: -250px;
  transition: margin 200ms ease-in-out;
  z-index: 999;
}

.nav-side.nav-open {
  margin-right: 0;
  z-index: 999;
  padding-top: 15px;
}

.nav-toggle {
  position: absolute;
  left: -75px;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  text-decoration: none !important;
  text-align: center;
  z-index: 999;
  font-size: 2.75em;
  margin-top: 15px;
  transition: background-color .5s;
  margin-right: 20px;
}

.nav-toggle:before {
  content: "\2630";
  font-weight: 600;
  color: cornflowerblue;
  line-height: 40px;
  text-decoration: none;
}
.nav-side.nav-open .nav-toggle:before {
  content: "\274C";
  text-decoration: none;
  color: white;
  background-color: cornflowerblue;
  padding: 10px;
  padding-top: 21px;
  padding-right: 40px;
  margin-left: -9px;
}
#nav_ul li a{
  color: white;
  font-size: 1.5em;
  padding: 5px;
  width: 100%;
  text-decoration: none;
  margin-top: 10px;
}
#nav_ul{
  list-style-type: none;
}
#nav_ul li{
  padding: 10px;
  border-bottom: 1px solid white;
  text-align: right;
}
#nav_ul li:hover{
  background-color: white;
  transition: background-color 1s;
}
.header img{
  height: 12vh;
  max-height: 100px;
  padding-right: 100%;
  position: fixed;
  background-color: white;
  z-index: 998;
  top: 0;
}
